<%#

 Copyright (C) 2022-2023 programmerpony

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU Affero General Public License as
 published by the Free Software Foundation, either version 3 of the
 License, or (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Affero General Public License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.

%>

<!DOCTYPE html>
<html lang="en">
  <%- include('head', {
    title: artist.name
  }); %>
  <body>
    <%- include('hero'); %>
    <section class="section has-text-centered">
      <div class="container">
        <h1 class="title">Artist: <%= artist.name %></h1>
        <% if (artist.patreonName) { %>
          <img class="big-link-icon" src="https://yiffer.xyz/icons/patreon.png" alt="Patreon">
          <a href="https://patreon.com/<%= artist.patreonName %>" class="subtitle artist"><%= artist.name %> on Patreon</a><br>
        <% } %>
        <% if (artist.e621Name) { %>
          <img class="big-link-icon" src="https://yiffer.xyz/icons/e621.png" alt="e621">
          <a href="https://e621.net/posts?tags=<%= artist.e621Name %>" class="subtitle artist"><%= artist.name %> on e621</a><br>
        <% } %>
        <% if (artist.links) artist.links.forEach((link) => { %>
          <img class="link-icon" src="https://yiffer.xyz/icons/<%= link.linkType %>.png" alt="<%= link.linkType %>">
          <a href="<%= link.linkUrl %>" class="artist"><%= link.linkUrl %></a><br>
        <% }); %>
      </div>
    </section>
    <section class="section has-text-centered">
      <div class="container">
        <p class="subtitle">
          <span class="icon-text" style="line-height: 1.3rem;">
            <span>
              Comics by this artist
            </span>
            <span class="info icon" aria-hidden="true">
              <a href="/artist/<%= artist.name %>.rss">
                <img src="/images/icons/rss.svg" alt="">
              </a>
            </span>
          </span>
        </p>
        <div class="columns is-multiline is-centered">
          <% if (artist.comics) artist.comics.forEach((comic) => { %>
            <%- include('comic-card', {comic:comic, isArtistPage:true}); %>
          <% }); %>
        </div>
      </div>
    </section>
    <%- include('footer'); %>
  </body>
</html>
