<%#

 Copyright (C) 2022-2023 programmerpony

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU Affero General Public License as
 published by the Free Software Foundation, either version 3 of the
 License, or (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Affero General Public License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.

%>

<!DOCTYPE html>
<html lang="en">
  <%- include('head', {
    title: comic.name,
    artist: comic.artist,
    previewImage: `https://static.yiffer.xyz/comics/${comic.name}/thumbnail.webp`
  }) %>
  <body>
    <%- include('hero') %>
    <section class="section has-text-centered">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-three-fifths">
            <h1 class="title"><%= comic.name %></h1>
            <h3 class="subtitle">by <a href="/artist/<%= comic.artist %>" class="artist"><%= comic.artist %></a></h3>
            <div class="comic-tags">
              <% if (comic.keywords) for (let tag of comic.keywords) { %>
                <a href="/search?tags=<%= tag %>" class="tag is-black"><%= tag %> </a>
              <% } %>
            </div>
            <% if (comic.previousComic || comic.nextComic) { %>
              <div class="previous-and-next-comic">
                <p class ="series">This comic is part of a series!</p>
                <% if (comic.previousComic) { %>
                  <a class="artist" href="/<%= comic.previousComic %>">
                    <span class="icon-text">
                      <span class="icon" aria-hidden="true">
                        <img src="/images/icons/arrow.svg" alt="">
                      </span>
                      <span>
                        <%= comic.previousComic %>
                      </span>
                    </span>
                  </a>
                <% } %>
                <% if (comic.nextComic) { %>
                  <a class="artist" href="/<%= comic.nextComic %>">
                    <span class="icon-text">
                      <span>
                        <%= comic.nextComic %>
                      </span>
                      <span class="icon" aria-hidden="true">
                        <img src="/images/icons/arrow.svg" alt="" style="transform: scale(-1, 1);">
                      </span>
                    </span>
                  </a>
                <% } %>
              </div>
            <% } %>
            <div class="comic-info">
              <p title="Number of pages">
                <span class="icon-text">
                  <span class="icon info" aria-hidden="true">
                    <img src="/images/icons/page.svg" alt="">
                  </span>
                  <span>
                    <%= comic.numberOfPages %>
                  </span>
                </span>
              </p>
              <p title="User rating">
                <span class="icon-text">
                  <span class="icon info" aria-hidden="true">
                    <img src="/images/icons/star.svg" alt="">
                  </span>
                  <span>
                    <%= Math.trunc(comic.userRating*10)/10 %>
                  </span>
                </span>
              </p>
              <p>Added: <%= comic.created %></p>
              <p>Last updated: <%= comic.updated %></p>
            </div>
            <% for (let i = 1; i < comic.numberOfPages+1; i++) { %>
              <% let page = `https://static.yiffer.xyz/comics/${comic.name}/${i.toString().padStart(3,'0')}.jpg` %>
              <a href="<%= page %>" class="image comic-page">
                <img src="<%= page %>">
              </a>
            <% } %>
            <br>
            <% if (comic.nextComic) { %>
              <p class="series">Continue reading:</p>
              <a class="artist" href="/<%= comic.nextComic %>">
                <span class="icon-text">
                  <span>
                    <%= comic.nextComic %>
                  </span>
                  <span class="icon" aria-hidden="true">
                    <img src="/images/icons/arrow.svg" alt="" style="transform: scale(-1, 1);">
                  </span>
                </span>
              </a>
            <% } %>
          </div>
        </div>
      </div>
    </section>
    <%- include('footer') %>
  </body>
</html>
