<%#

 Copyright (C) 2022-2023 programmerpony

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU Affero General Public License as
 published by the Free Software Foundation, either version 3 of the
 License, or (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Affero General Public License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.

%>

<div class="column is-2">
  <div class="card">
    <a href="/<%= comic.name %>" class="card-image">
      <figure class="image is-2by3">
        <img src="https://static.yiffer.xyz/comics/<%= comic.name %>/thumbnail.webp">
      </figure>
    </a>
    <div class="card-content">
      <div class="content">
        <a class="comic-title" href="/<%= comic.name %>"><%= comic.name %></a><br>
        <a <% if (!isArtistPage) { %>href="/artist/<%= comic.artist %>"<% } %> class="artist"><%= comic.artist %></a>
        <div class="pages-and-stars">
          <p title="Number of pages">
            <span class="icon-text">
              <span class="info icon" aria-hidden="true">
                <img src="/images/icons/page.svg" alt="">
              </span>
              <%= comic.numberOfPages %>
            </span>
          </p>
          <p title="User rating">
            <span class="icon-text">
              <span class="info icon" aria-hidden="true">
                <img src="/images/icons/star.svg" alt="">
              </span>
              <%= Math.trunc(comic.userRating*10)/10 %>
            </span>
          </p>
          <% if (comic.state != 'finished') { %>
            <p title="<%= comic.state.toUpperCase() %>" class="state">
              <span class="icon-text">
                <span class="info icon is-hidden-desktop" aria-hidden="true">
                  <img src="/images/icons/warning.svg" alt="">
                </span>
                <%= comic.state == 'cancelled' ? 'RIP' : comic.state.toUpperCase() %>
              </span>
            </p>
          <% } %>  
        </div>
      </div>
    </div>
  </div>
</div>
