<%#

 Copyright (C) 2022-2023 programmerpony

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU Affero General Public License as
 published by the Free Software Foundation, either version 3 of the
 License, or (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Affero General Public License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.

%>

<!DOCTYPE html>
<html lang="en">
  <%- include('head') %>
  <body>
    <%- include('hero') %>
    <section class="section has-text-centered">
        <h1 class="yiffest">?</h1>
        <h1 class="title">
            <%= error %>
        </h1>
        <h2 class="subtitle">
            <% if (locals.info) { %>
                <%= info %>
            <% } %>
        </h2>
    </section>
    <%- include('footer') %>
  </body>
</html>
