<%#

 Copyright (C) 2022-2023 programmerpony

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU Affero General Public License as
 published by the Free Software Foundation, either version 3 of the
 License, or (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Affero General Public License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.

%>

<section class="yiffest-footer section has-text-centered">
  <p>This project is not affiliated with nor endorsed in any way by <a href="https://yiffer.xyz/">Yiffer.xyz</a>.</p>
  <p>Yiffest! is free software and its source code can be found <a href="https://codeberg.org/programmerpony/yiffest">here</a>.</p>
</section>
