<%#

 Copyright (C) 2022-2023 programmerpony

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU Affero General Public License as
 published by the Free Software Foundation, either version 3 of the
 License, or (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Affero General Public License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.

%>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><% if (locals.title) { %><%= title %> - <% }%>Yiffest!</title>
  <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
  <!-- Open Graph -->
  <meta property="og:type" content="website" />
  <% if (locals.title) { %>
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:site_name" content="Yiffest!" />
  <% } else { %>
    <meta property="og:title" content="Yiffest!" />
  <% } %>
  <% if (locals.artist) { %>
    <% if (locals.previewImage) { %>
      <meta name="description" content="A comic by <%= artist %>">
      <meta name="og:description" content="A comic by <%= artist %>">
    <% } else { %>
      <meta name="description" content="Read comics by <%= title %> on Yiffest!">
      <meta name="og:description" content="Read comics by <%= title %> on Yiffest!">
    <% } %>
  <% } else { %>
    <meta name="description" content="An alternative client for Yiffer.xyz">
    <meta name="og:description" content="An alternative client for Yiffer.xyz">
  <% } %>
  <!-- Twitter -->
  <meta name="twitter:title" content="<% if (locals.title) { %><%= title %> - <% }%>Yiffest!" />
  <% if (locals.previewImage) { %>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="<%= previewImage %>">
    <meta name="og:image" content="<%= previewImage %>">
  <% } else { %>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="/favicon.png">
    <meta name="og:image" content="/favicon.png">
  <% } %>
  <!-- CSS -->
  <link rel="stylesheet" href="/css/bulma.min.css">
  <link rel='stylesheet' href='/css/fa.min.css'>
  <link rel="stylesheet" href="/css/style.css">
</head>
