<%#

 Copyright (C) 2022-2023 programmerpony

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU Affero General Public License as
 published by the Free Software Foundation, either version 3 of the
 License, or (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Affero General Public License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.

%>

<!DOCTYPE html>
<html lang="en">
  <%- include('head', {
    title: query ? `Search: ${query}` : null
  }) %>
  <body>
    <%- include('hero') %>
    <section class="section search has-text-centered">
      <form action="/search" method="get" class="field has-addons is-grouped-centered search">
        <div class="control">
          <input class="input is-dark" type="text" name="tags" required placeholder="Tags (separated by commas)" value="<%= query %>">
        </div>
        <div class="control">
          <input type="submit" class="button is-danger" value="Search">
        </div>
      </form>
      <% if (comics.comics?.length > 0) { %>
        <p>
          <span class="icon-text">
            <a class="rss" href="<%= query ? `/query.rss?tags=${query}` : `/list.rss` %>">
              <span class="icon is-small" aria-hidden="true">
                <img src="/images/icons/rss.svg" alt="">
              </span>
              <span style="color:#ddd;">Get the RSS feed for <%= query ? 'the current query' : 'all comics' %>!</span>
            </a>
          </span>
        </p>
      <% } %>
    </section>
    <section class="section has-text-centered">
      <% if (comics.comics?.length > 0) { %>
        <div class="container">
          <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            <ul class="pagination-list">
              <% for (let i = 1; i < comics.numberOfPages+1; i++) { %>
                <li>
                  <a href="<%= query ? `/search?tags=${query}&page=${i}` : `/list/${i}` %>" class="pagination-link <% if (i === comics.page) {%><%= 'is-current' %><%} %>" aria-label="Goto page <%=i%>"><%=i%></a>
                </li>
              <% } %>
            </ul>
          </nav>
          <div class="columns is-multiline is-centered">
            <% comics.comics.forEach((comic) => { %>
              <%- include('comic-card', {comic:comic, isArtistPage:false}); %>
            <% }); %>
          </div>
          <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            <ul class="pagination-list">
              <% for (let i = 1; i < comics.numberOfPages+1; i++) { %>
                <li>
                  <a href="<%= query ? `/search?tags=${query}&page=${i}` : `/list/${i}` %>" class="pagination-link <% if (i === comics.page) {%><%= 'is-current' %><%} %>" aria-label="Goto page <%=i%>"><%=i%></a>
                </li>
              <% } %>
            </ul>
          </nav>
        </div>
      <% } else { %>
        <h1 class="yiffest">?</h1>
        <h1 class="title">No comics found for that query.</h1>
      <% } %>
    </section>
    <%- include('footer') %>
  </body>
</html>
