/*

 Copyright (C) 2022-2023 programmerpony

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU Affero General Public License as
 published by the Free Software Foundation, either version 3 of the
 License, or (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Affero General Public License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.

*/

@font-face {
  font-family: 'Shrikhand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Shrikhand.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body, html {
  background-color: #1d1d1d;
}

.yiffest {
  font-size: 2.5rem;
  font-family: 'Shrikhand';
  background-image: linear-gradient(60deg, #fc397d, #fc3948);
  background-clip: text;
  -webkit-background-clip: text;
  color:transparent;
}

.yifferxyz {
  font-family: 'Shrikhand';
  background-image: linear-gradient(60deg, #49ded7, #5df1ba);
  background-clip: text;
  -webkit-background-clip: text;
  color:transparent;
}

.hero {
  padding-bottom: 0px;
}

.title, .subtitle, .pagination-link, .pagination-link:visited, p {
  color: #ddd;
}

.pagination-link {
  margin-top: 0.5rem;
}

.pagination-link.is-current, .is-danger {
  background-image: linear-gradient(60deg, #fc397d, #fc3948);
  border-color: #fc397d;
}

.pagination-link:focus, .pagination-link:hover {
  border-color: #fc397d;
  color: #fc397d;
}

.pagination-link.is-current:hover {
  color: white;
}

@media screen and (max-width: 768px) {
  .pagination-list li {
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 2px;
    margin-right: 2px;
  }
}

.card, .card-content {
  background-color: #141414;
  border-color: #141414;
}

.artist, .artist:visited, .rss, .rss:visited {
	padding-bottom: 1px;
	background-image: linear-gradient(currentColor, currentColor);
	background-position: 50% 100%;
	background-repeat: no-repeat;
	background-size: 0% 1px;
	transition: background-size .2s;
}

.artist:hover, .artist:focus, .rss:hover, .rss:focus {
	background-size: 100% 1px;
}

.artist, .artist:visited, .artist:hover, .artist:focus {
  color: #589ed1;
}

a, a:visited {
  color: #fc397d;
}

a:hover, a:focus {
  color: #e22467;
}

.comic-page {
  margin-top: 1rem;
}

.big-link-icon {
  height: 24px;
}

.link-icon {
  height: 22px;
}

.comic-info, .pages-and-stars {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.pages-and-stars {
  height: 1.5rem;
}

.state {
  font-weight: bold;
}

.comic-title, .comic-title:visited {
  color: white;
}

.comic-title:hover, .comic-title:focus {
  color: #dfdfdf;
}

.previous-and-next-comic {
  margin-bottom: 2rem;
}

.series {
  font-size: 0.8rem;
  margin-bottom: 0.4rem;
}

.comic-tags {
  margin-bottom: 1rem;
}

.input {
  color: white;
  background-color: #141414;
}

.input::placeholder {
  color: #ddd;
}

.search {
  justify-content: center !important;
  padding-bottom: 0px;
}

.info {
  height: 1.25rem;
  width: 1.25rem;
}